flask==2.0.1
flask-sqlalchemy==2.5.1
flask-login==0.5.0
flask-cors==3.0.10
flask-jwt-extended==4.2.3
werkzeug==2.0.1
python-dotenv==0.19.0
SQLAlchemy==1.4.49
flask-swagger-ui==4.11.1
flasgger==0.9.7.1