!!! 5
%html 
%head 
    %title HAML template KT1
    %meta{ :charset => "utf-8" } 
    %link{ :rel => "stylesheet", :href => "style.css" }
%body
    %section.section{ :"data-image-width" => "2250", :"data-image-height" => "1500"}
        %div.box
            %div.concept
                %div.divheader
                    %h2.header Concept
                %div.divtext
                    %p.text Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            %div.marketing
                %div.divheader
                    %h2.header Marketing
                %div.divtext
                    %p.text Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            %div.analytics
                %div.divheader
                    %h2.header Analytics
                %div.divtext
                    %p.text Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit